[MASTER]
init-hook='import sys; sys.path.append(".")'

[FORMAT]
max-line-length = 80
max-module-lines = 2000

[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    invalid-name,
    too-few-public-methods,
